/* @import 'bootstrap-icons/font/bootstrap-icons.css'; */
.create-nurse-button{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 150px;
    width: 240px;
}

.display-container{
  margin-top: 40px;
}


.card-img{
    width: 150px;
    margin-left: 120px;
}


/* Custom DatePicker Styles */
.calendar-container {
    margin-left: 150px;
  }
  
  .react-datepicker__input-container input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .react-datepicker__month-wrapper {
    display: flex;
    justify-content: center;
  }
  