/* @import 'bootstrap-icons/font/bootstrap-icons.css'; */
.create-nurse-button{
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 650px;
    width: 240px;
}

.display-container{
  margin-top: 40px;
}

.nurse-card{
    width: 400px;
    height: auto;
    padding: 10px;
    margin-left: 20px;
}

.card-img{
    width: 150px;
    margin-left: 120px;
}

/* .card-title{
    justify-content: center;
} */